%h2
  Search

%input{:class => 'phrase'}

%button{:class => 'searcher'} Search

.clear

-if can? :manage, Tag
  #search_table
    %h3 Tags
    %h5{:id => 'tag_count'}
    %div{:id => 'tags'}

#search_table
  %h3 Studies
  %h5{:id => 'study_count'}
  %div{:id => 'studies'}

#search_table
  %h3 Deployments
  %h5{:id => 'deployment_count'}
  %div{:id => 'deployments'}

.clear

:javascript

  function buildTagBox(val) {
    text = "";
    text += "<div class='box info'>";
      text += "<h4>" + val.code + "</h4>";
      text += "<ol class='success'>";
        text += "<li>Code Space: " + val.code_space + "</li>";
        text += "<li>Study: <a href='/studies/" + val.study.id + "'>" + val.study.name + "</a></li>";
      text += "</ol>";
    text += "</div>";
    return text;
  }

  function buildStudyBox(val) {
    text = "";
    text += "<div class='box info'>";
      text += "<h4>" + val.name + "</h4>";
      text += "<ol class='success'>";
        text += "<li>Species: " + val.species + "</li>";
      text += "</ol>";
    text += "</div>";
    return text;
  }

  function buildDeploymentBox(val) {
    text = "";
    text += "<div class='box info'>";
      text += "<h4>" + val.code + "</h4>";
      text += "<ol class='success'>";
        text += "<li>Model: " + val.model + "</li>";
        text += "<li>Study: <a href='/studies/" + val.study.id + "'>" + val.study.name + "</a></li>";
      text += "</ol>";
    text += "</div>";
    return text;
  }

  $(document).ready(function() {

    $(".searcher").click(function(e) {
      e.preventDefault();

      var phrase = $(".phrase").val();

      $.ajax({
        type: "GET",
        url: "#{search_tags_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $("#tag_count").html(data.length + " results")
          $.each(data, function(key, val) {
            items.push(buildTagBox(val));
          });
          $("#tags").html(items.join(''));
        },
        error: function(){
          // no tags
        }
      });

      $.ajax({
        type: "GET",
        url: "#{search_deployments_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $("#deployment_count").html(data.length + " results")
          $.each(data, function(key, val) {
            items.push(buildDeploymentBox(val));
          });
          $("#deployments").html(items.join(''));
        },
        error: function(){
          // no tags
        }
      });

      $.ajax({
        type: "GET",
        url: "#{search_studies_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $("#study_count").html(data.length + " results")
          $.each(data, function(key, val) {
            items.push(buildStudyBox(val));
          });
          $("#studies").html(items.join(''));
        },
        error: function(){
          // no tags
        }
      });

    });

  });
