%h2
  Search


%input{:class => 'phrase'}

%button{:class => 'searcher'} Search

.clear

%table{:id => 'tags', :class => 'search_table'}

%table{:id => 'reports', :class => 'search_table'}

%table{:id => 'studies', :class => 'search_table'}

.clear

:javascript

  $(document).ready(function() {

    $(".searcher").click(function(e) {
      e.preventDefault();

      var phrase = $(".phrase").val();

      $.ajax({
        type: "GET",
        url: "#{search_tags_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $.each(data, function(key, val) {
            items.push('<tr><td>Tag: ' + val.id + '</td></tr>');
          });
          $("#tags").html(items.join(''));
        },
        error: function(){
          // no tags
        }
      });

      $.ajax({
        type: "GET",
        url: "#{search_reports_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $.each(data, function(key, val) {
            items.push('<tr><td>Report: ' + val.id + '</td></tr>');
          });
          $("#reports").html(items.join(''));
        },
        error: function(){
          // no tags
        }
      });

      $.ajax({
        type: "GET",
        url: "#{search_studies_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $.each(data, function(key, val) {
            items.push('<tr><td>Study: ' + val.id + '</td></tr>');
          });
          $("#studies").html(items.join(''));
        },
        error: function(){
          // no tags
        }
      });

    });

  });
