%h2
  Search

%p Enter a search term to query Projects in the GLATOSWeb system.

%textarea{:class => 'tags_input'}

%button{:class => 'searcher'} Search

- if can? :manage, Tag
  Looking for the 
  = link_to("tag search?", tag_search_path)

.clear

%span{:style => 'font-size: 80%; font-weight: bold;'}
  Examples: Sturgeon (species), "St Marys River" (location), Holbrook (investigator)

#search_tables{:style => 'display: none;'}
  .search_table{:class => "two_wide"}
    %h3 Studies
    %h5{:id => 'study_count'}
    %div{:id => 'studies'}
  -#
    .search_table{:class => "two_wide_last"}
      %h3 Deployments
      %h5{:id => 'deployment_count'}
      %div{:id => 'deployments'}
.clear

:javascript

  function buildRow(label, value) {
    var text = "";
    text += "<tr>";
      text += "<td class='label'>";
        text += label
      text += "</td>";
      text += "<td>";
        text += value;
      text += "</td>";
    text += "</tr>";
    return text;
  }
  
  function buildStudyBox(val) {
    text = "";
    text += "<div class='info'>";
      text += "<h4>";
        text += "<a href='/projects/" + val.id + "'>" + val.name + "</a>";
      text += "</h4>";

      // TABLE
      text += "<table>";
        text += "<tbody>";
          text += buildRow("Species", val.species);
          text += buildRow("Title", val.title);
        text += "</tbody>";
      text += "</table>";

    text += "</div>";
    return text;
  }

  function buildDeploymentBox(val) {
    text = "";
    text += "<div class='info'>";
      text += "<h4>" + val.code + "</h4>";

      // TABLE
      text += "<table>";
        text += "<tbody>";
          text += buildRow("Model", val.model);
          text += buildRow("Study", "<a href='/projects/" + val.study.id + "'>" + val.study.name + "</a></li>");
        text += "</tbody>";
      text += "</table>";

    text += "</div>";
    return text;
  }

  $(document).ready(function() {

    $(".searcher").click(function(e) {
      e.preventDefault();

      var phrase = $(".tags_input").val();

      $.ajax({
        type: "GET",
        url: "#{search_deployments_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $("#deployment_count").html(data.length + " results")
          $.each(data, function(key, val) {
            items.push(buildDeploymentBox(val));
          });
          $("#deployments").html(items.join(''));
        },
        error: function(){
          $("#deployment_count").html("There was a problem retreiving any matching Deployments");
        }
      });

      $.ajax({
        type: "GET",
        url: "#{search_studies_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $("#study_count").html(data.length + " results")
          $.each(data, function(key, val) {
            items.push(buildStudyBox(val));
          });
          $("#studies").html(items.join(''));
          $('#search_tables').show();
        },
        error: function(){
          $("#study_count").html("There was a problem retreiving any matching Studies");
          $('#search_tables').show();
        }
      });

    });

  });
