%h2
  Search for Tags

%p Enter tags you would like to search, one per line.  These can be both internal and external tags.

%textarea{:class => 'tags_input'}

%button{:class => 'searcher'} Search
Looking for the 
= link_to("study/deployment search?", search_path)

.clear

%span{:style => 'font-size: 80%; font-weight: bold;'}
  Example:
  .search_hint_list
    A69-9002-4807 (full code space)
    %br
    31942 (internal tag)
    %br
    4257 (external tag)

#search_tag_table
  %h5{:id => 'tag_count'}
  %br
  %div{:id => 'tags'}

#done{:style => "padding: 20px;"}
  #choices
  .clear

.clear

%table{:id => :table}

:javascript

  function makeStudyLink(oObj) {
    var text = "<a href='" + getStudyLink(oObj) + "' target='_blank'>Link</a>";
    return text;
  }

  function getStudyLink(oObj) {
    var text = "#{root_url}" + "studies/" + oObj.aData.study.id;
    return text;
  }

  $(document).ready(function() {

    $(".searcher").click(function(e) {
      e.preventDefault();

      var phrase = $(".tags_input").val();

      $.ajax({
        type: "GET",
        url: "#{multi_tag_search_path({:format => :js})}",
        data: "text="+phrase,
        dataType: 'json',
        success: function(data){
          var items = [];
          $("#tag_count").html(data.length + " results")
          var count = 1;

          $('#table').dataTable().fnAddData(data);
        },
        error: function(){
          // no tags
        }
      });

    });

    var oTable = $('#table').dataTable({
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sSearch": "Filter Results:"
      },
      "aoColumns": [
        { "sTitle": "Project", "sName": "project", "mDataProp": "study.name" },
        { "sTitle": "Code Space", "sName": "code_space", "mDataProp": "code_space" },
        { "sTitle": "Code", "sName": "code", "mDataProp": "code" },
        { "sTitle": "External Codes", "sName": "external_codes", "mDataProp": "active_deployment_json.external_codes" },
        { "sTitle": "Release Location", "sName": "release_location", "mDataProp": "active_deployment_json.release_location" },
        { "sTitle": "Investigator", "sName": "pi", "mDataProp": "study.user.name" },
        { "sTitle": "Investigator", "sName": "pi", "mDataProp": "study.user.email" },
        { "sTitle": "Study Page", "sName": "site", "mDataProp": null, "bSortable": false, 
          "fnCellRender": function (oObj){ return getStudyLink(oObj); },
          "fnRender": function (oObj){ return makeStudyLink(oObj); },
        },
      ],
    });

    var oTableTools = new TableTools( oTable, {
      "sSwfPath": "#{image_path 'copy_csv_xls_pdf.swf'}",
    });
    
    $('#choices').after( oTableTools.dom.container );

  });
