.horizontal-list
  %ul
    - if user_signed_in?
      %li
        = link_to('Logout', destroy_user_session_path, :method=>'delete')
        %span{:class => 'pipe'}
          |
    - else
      %li
        = link_to('Login', new_user_session_path)
        %span{:class => 'pipe'}
          |


    - if user_signed_in?
      %li
        = link_to('Edit account', edit_user_registration_path)
    - else
      %li
        = link_to('Request GLATOS Account', new_user_registration_path)
