#about_page

  #about_left

    %h2
      What is GLATOS?

    %p  
      The Great Lakes Acoustic Telemetry Observing System (GLATOS) is a network of researchers conducting acoustic telemetry projects on fish movement in the Laurentian Great Lakes.  GLATOS provides these researchers with opportunities to develop partnerships and share fish detection data among projects.


  #about_right
    %ul{:class => 'notice'}
      %h2
        GLATOS Projects:
      - @studies.each do |s|
        %li
          = link_to "#{s.name} (#{s.code})", project_path(s.id)
  .clear  

  %h2 GLATOS Mission Statement
  %p
    GLATOS aims to:

  %ol{:class => 'mission'}
    %li
      1. Build a network of researchers conducting acoustic telemetry studies within the Great Lakes Basin.
    %li
      2. Foster the development of partnerships and cooperative project planning through GLATOSWeb.
    %li
      3. Extend the effective range of individual studies by providing a mechanism to share detection data among projects.

  %p
    GLATOS is administered by the Great Lakes Fishery Commission, in partnership with the Great Lakes Observing System, and the U.S. Geological Survey and supported by the Great Lakes Restoration Initiative.  The GLATOS mission is accomplished through two tools:  #{link_to 'GLATOSWeb', root_path}  and GLATOSLink.


  %h2
    Questions?  Contact:

  %p
    Charles Krueger
    %br
    Great Lakes Fishery Commission
    %br
    Phone:  734-662-3209 ext. 11
    %br
    Email:  ckrueger __at__ glfc __dot__ org