%p
  The uploaded file should have the extension
  %strong
    zip
  and be the result of clicking on the
  %strong
    Create Submission Package
  button in
  %strong
    GLATOSWeb_DataForms.xlsm.

= semantic_form_for @submission, :html => { :multipart => true }, :url => submissions_path do |f|
  = f.input :zipfile, :as => :file, :label => false
  = f.actions do
    = f.action :submit, :as => :button, :label => "Upload"
