%p
  The uploaded file should have the extension
  %strong
    xlsm
  and be based on the
  %strong
    GLATOSWeb_DataForms.xlsm
  file included in the Data Submission Package.

= semantic_form_for @submission, :html => { :multipart => true }, :url => submissions_path do |f|
  = f.input :spreadsheet, :as => :file, :label => false
  = f.actions do
    = f.action :submit, :as => :button, :label => "Upload"
