%p
  GLATOSWeb has received your data submission.  Thank you!

  = "You can access the submission here: #{submission_url(@submission)}"

%p
  = new_user_session_url
  = link_to 'Login now', new_user_session_url
