@import "compass/reset";

// Grid
$blueprint-grid-columns: 24;
$blueprint-container-size: 960px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$font-color: #333;
$blueprint-font-size: 10px;

@import "compass";
@import "blueprint";
