.report_text {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2em;
  color: #155494;
  margin-bottom: 20px;
}

.reward {
  color: #ff0000;
}

.report, .user {

  .left-form-element {
    float: left;
    width: 42%;
  }

  .right-form-element {
    float: left;
    width: 42%;
  }

  .section {
    width: 100%;
    margin-top: 30px;

    .left-section {
      width: 50%;
      float: left;
    }

    .right-section {
      width: 45%;
      float: left;
      .full_img img {
        width: 100%;
      }

      .custom_label {
        color: #58595B;
        float: none;
        font-weight: bold;
        width: 100%;
      }
    }

  }

  .inputs {
    padding: 10px;

    legend span {
      font-size: 20px;
      font-weight: bold;
    }

  }

  .input .label {
    float: none;
    width: 100%;
    color: #58595b;
    font-weight: bold;
  }

  .boolean label {
    margin-top: 15px;
    padding-left: 0px;
  }

  .text textarea {

    height: 100px;
    margin: 0.5em 0;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  select {
    padding: 4px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    width: 72%;
  }

  .input .inline-hints {
    margin: 0.6em 0 0 0;
    font-size: 0.8em;
    font-weight : bold;
    font-style  : italic;
  }

}

#new_report {
  .commit {

    list-style: none outside none;

    input {
      background-color: #FFFFFF;
      border: 1px solid #BBBBBB;
      margin: 0 0;
      padding: 10px;
    }
  }
}

.formtastic .inline-errors {
    color: #8A1F11;
    margin: 0.2em 0 0.2em 0.5em;
}

.formtastic .choices-group {
  padding: 0 0 0 10%;
}

.formtastic .stringish input {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  padding: 5px;
}

.formtastic .input {
  margin-bottom: 0.2em;
}

.formtastic p {
  margin-bottom: 20px;
}

.commit {
  input {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    margin: 0 0;
    padding: 3px 5px;
  }
}

.submission {
  ol, li {
    list-style: none;
  }
  .file {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    margin: 10px 0;
    padding: 10px;

    input {
      width: 60%;
      padding: 5px;
    }
  }

  label {
    display: none;
  }
  .actions {
    padding:0 0 0 0;
  }
}

#study_edit_page {
  textarea {
    height: 120px;
  }
  img {
    margin: 0 0 30px 25%;

  }
}
