.report, .user {

  width: 50%;

  .inputs {
    padding: 10px;

    legend span {
      font-size: 20px;
      font-weight: bold;
    }

  }

  .input .label {
    float: none;
    width: 100%;
  }

  .text textarea {

    height: 100px;
    margin: 0.5em 0;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  .input .label {
    color: #58595b;
    font-weight: bold;
  }

  select {
    margin: 0.5em 0;
    padding: 3px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  .input .inline-hints {
    margin: 0.6em 0 0 0;
    font-size: 0.8em;
    font-weight : bold;
    font-style  : italic;
  }
}

.formtastic .inline-errors {
    color: #8A1F11;
    margin: 0.2em 0 0.2em 0.5em;
}

.formtastic .stringish input {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  padding: 5px;
}
