body {
  background-color: #1e4680;
}

#container {
  @include container;
  @include blueprint(true);
  background  : url(image-path('bkgd.jpg')) no-repeat top center;
  font-family: "Myriad pro", "Helvetica Neue", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 16px;
}

#background {
  //@include showgrid;
  @include column(24, true);
  height: 100%;
}

#information {
  @include push(4);
  @include column(16, true);
  background  : url(image-path('blue_bkgd.png')) no-repeat center;
  height: 240px;
  margin-bottom: 0px;
  margin-top: 185px;

  p {
    @include push(1);
    margin-top: 50px;
    @include column(14, true);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 1.1em;
  }
}

#links {
  text-align: center;
  @include push(8);
  @include column(8, true);
  margin-top: -45px;
  margin-bottom: 10px;
  a {
    font-weight: bold;
    color: #fff;
    line-height: 1.6em;
  }
  a:visited {
    font-weight: bold;
    color: #fff;
  }
  a:hover {
    font-weight: bold;
    color: #001d3e;
  }
}

#functions {

  @include push(4.5);
  margin-bottom: 15px;

  a {
    font-weight: bold;
    color: #fff;
  }
  a:visited {
    color: #fff;
  }
  a:hover {
    color: #001d3e;
  }

  .box {
    @include column(5);
    height: 168px;
    p {
      margin-top: 24px;
      line-height: 1.2em;
      color: #001d3e;
      text-align: center;
      padding: 5px;
      font-weight: 600;
      span {
        font-weight: 800;
      }
    }
    div {
      margin-top: 44px;
      text-align: right;
    }
    .globelink {
      padding-right: 10px;
    }
    .searchlink {
      padding-right: 15px;
    }
    .foundlink {
      padding-right: 3px;
    }
  }

  .globe {
    background: url(image-path('globe_box.png')) no-repeat bottom;
  }

  .search {
    background: url(image-path('magnifyne_box.png')) no-repeat bottom;
  }

  .found {
    background: url(image-path('fish_box.png')) no-repeat bottom;
  }

}

#footer {
  @include column(24,true);
  margin-top: 0px;

  #flashes {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    line-height: 16px;
  }

  .login {
    @include column(8);
    @include append(2);
    line-height: 36px;
    text-align: center;

    a {
      color: #001d3e;
      width: 100%;
      height: 35px;
      font-weight: bold;
      text-decoration: none;
      font-size: 12px;
      margin-bottom: 8px;
      background: url(image-path('blueback.png'));
      display:  block;
      border: 1px solid #001d3e;
      border-top: 5px solid #001d3e;
    }
  }

  .left_images {
    @include column(8);
    text-align: center;
    .top_img {
      @include column(8);
    }

    .bottom_img {
      @include column(8);
      text-align: center;
      margin-top:5px;
      .left_img {
        @include column(4);
      }
      .right_img {
        @include column(4,true);
      }
    }
  }
}
