body {
  overflow : hidden;
  background-color: #1E4680;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#loading-mask {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1;
}
#loading {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 2;
}
#loading SPAN {
  background: url(image-path('loader.gif')) no-repeat left center;
  padding: 5px 30px;
  display: block;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 12px;
}

.smallFont {
  font       : 11px/13px tahoma,helvetica,sans-serif;
  text-align : justify;
}

#glatosStudiesGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosStudiesGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosStudiesGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosStudiesGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosStudiesGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosSeasonalGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosSeasonalGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosSeasonalGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosSeasonalGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosSeasonalGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosFrequenciesGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosFrequenciesGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosFrequenciesGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosFrequenciesGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosFrequenciesGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosProjectStatusesGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosProjectStatusesGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosProjectStatusesGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosProjectStatusesGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosProjectStatusesGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosTimesFormPanel {
  border-top: 1px solid #99BBE8;
}
#glatosTimesFormPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosTimesFormPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosTimesFormPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosTimesFormPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

.obsPopup {
  background : white;
  padding    : 6px;
  width      : 315px;
}
.obsPopup th {
  font        : 11px tahoma,helvetica,sans-serif;
  font-weight : bold;
}
.obsPopup td {
  font        : 11px tahoma,helvetica,sans-serif;
}

.obsInnerPopup {
  padding-left : 60px;
  width        : 280px;
}
.obsInnerPopup td {
  vertical-align : top;
}
.obsInnerPopupVal {
  padding-left   : 20px;
  vertical-align : top;
}

.header {
  width: 960px;
  background  : url(image-path('header.jpg')) no-repeat center;
  height: 50px;
  margin: 0 auto;
}

#navigation {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  background-color: #555;
  text-align: right;
  width: 960px;
  margin: 0 auto;
  height: 30px;

  a {
    color: #fff;
    text-decoration: none;
    
  }

  .left {
    @include prepend(1);
    @include column(9);
    @include append(2);
  }

  .pipe {
    padding: 0 5px 0 8px;
  }

  .right {
    @include prepend(2);
    @include column(9, true);
    ul {
      float: right;
    }
  }
}

#mainPanel {
  clear: both;
}