body {
  overflow : hidden;
  background-color: #1E4680;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

#loading-mask {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1;
}
#loading {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 2;
}
#loading SPAN {
  background: url(image-path('loader.gif')) no-repeat left center;
  padding: 5px 30px;
  display: block;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 12px;
}

.smallFont td {
  font       : 11px/13px tahoma,helvetica,sans-serif;
  text-align : justify;
  padding : 3px 5px 4px 5px;
}

#glatosStudiesGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosStudiesGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosStudiesGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosStudiesGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosStudiesGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosSeasonalGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosSeasonalGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosSeasonalGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosSeasonalGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosSeasonalGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosFrequenciesGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosFrequenciesGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosFrequenciesGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosFrequenciesGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosFrequenciesGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosModelsGridPanel {
  border-top: 1px solid #99BBE8;
}
#glatosModelsGridPanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosModelsGridPanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosModelsGridPanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosModelsGridPanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

#glatosStatusTimePanel {
  border-top: 1px solid #99BBE8;
}
#glatosStatusTimePanel .x-grid3-row {
  border-color   : #ffffff;
}
#glatosStatusTimePanel .x-grid3-row-selected {
  background-color : transparent !important;
}
#glatosStatusTimePanel .x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander {
  background-image : url(image-path('blank.png'));
}
#glatosStatusTimePanel .x-grid3-body .x-grid3-td-checker {
  background-image : url(image-path('blank.png'));
}

.obsPopup {
  background : white;
  padding    : 6px;
  width      : 315px;
}
.obsPopup th {
  font        : 11px tahoma,helvetica,sans-serif;
  font-weight : bold;
}
.obsPopup td {
  font        : 11px tahoma,helvetica,sans-serif;
}

.obsInnerPopup {
  vertical-align : top;
  padding-left   : 60px;
  width          : 100px;
}
.obsInnerPopupVal {
  padding-left   : 15px;
  vertical-align : top;
  width          : 180px;
}

.header {
  width: 960px;
  background  : url(image-path('header.jpg')) no-repeat center;
  height: 50px;
  margin: 0 auto;
  a {
    display: block;
    width: 100%;
    height: 50px;
  }
}

#navigation {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  background-color: #555;
  text-align: right;
  width: 960px;
  margin: 0 auto;
  height: 30px;

  a {
    color: #fff;
    text-decoration: none;
    
  }

  .left {
    @include prepend(1);
    @include column(9);
    @include append(2);
  }

  .pipe {
    padding: 0 5px 0 8px;
  }

  .right {
    @include prepend(2);
    @include column(9, true);
    ul {
      float: right;
    }
  }
}

#mainPanel {
  clear: both;
}

#resetMap {
  position : absolute;
  right : 110px;
  top : 5px;
  z-index : 10000;
}

#changeBasemap {
  position : absolute;
  right : 5px;
  top : 5px;
  z-index : 10000;
}

.x-fieldset legend input {margin-top:2px;}
.x-form-field {margin-top:1px !important;}
.x-form-field-wrap .x-form-date-trigger {margin-top:1px;}
.x-form-field-wrap .x-form-trigger {margin-top:1px;}
