body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #444;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  font-size: 12px;
  background-color: #58595b;
}

#background {
  background  : url('greatlakes.png') no-repeat center;
}

#content {
  padding             : 20px;
  background-color    : #eee;
  @include opacity(0.9);

}

#block {
  /* To bring everything to the top, uncomment this */
  /* position: relative; */
}

#new_report {
  .report_text {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.2em;
    color: #155494;
    margin-bottom: 20px;
  }
  .reward {
    color: #ff0000;
  }
}

#report-left-side {
  @include column(11.5);
  float: left;

  p img {
    width: 100%;
  }
}

#report-right-side {
  @include column(11.5, true);
  float: right;

  p img {
    width: 100%;
  }
}

.left-form-element {
  clear: both;
  float: left;
  @include column(5.6);
}

.right-form-element {
  float: right;
  @include column(5.6, true);
}


.small-form-element {
  text-align: center;
  float: left;
  @include column(5, true);
}

.full-form-element {
  float: left;
  @include column(11.2, true);
}

.tiny-form-element {
  float: left;
  @include column(2.8, true);
}

.caption {
  margin-top  : 5px;
  line-height : 12px;
  font-size   : 11px;
  font-weight : bold;
  font-style  : italic;
}

.clear {
  clear: both;
}

#report_found_input .ui-datepicker-trigger {
  float: left;
  vertical-align: middle;
  margin: 0 30px 0 30px;
}
