body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #444;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  font-size: 12px;
  background-color: #1e4680;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  margin: 10px 0;

}

#content {
  background-color    : #eee;
  padding: 40px;
  margin-top: 30px;
}

.header {
  @include column(24,true);
  height: 50px;
  background  : url(image-path('header.jpg')) no-repeat center;
}

#navigation {

  color: #fff;
  font-size: 18px;
  line-height: 30px;
  background-color: #555;
  text-align: right;
  @include column(24);

  a {
    color: #fff;
    text-decoration: none;
    
  }

  .left {
    @include prepend(1);
    @include column(9);
    @include append(2);
  }

  .pipe {
    padding: 0 5px 0 8px;
  }

  .right {
    @include prepend(2);
    @include column(9, true);
    ul {
      float: right;
    }
  }
}

.caption {
  margin-top  : 5px;
  line-height : 12px;
  font-size   : 11px;
  font-weight : bold;
  font-style  : italic;
}

.clear {
  clear: both;
}

#report_found_input .ui-datepicker-trigger {
  float: left;
  vertical-align: middle;
  margin: 0 30px 0 30px;
}

.two_wide {
  @include column(10.5);
}
.two_wide_last {
  margin-left: 8px;
  @include column(10.5,true);
}

#search_tables {
  margin-top: 20px;
  .search_table {

    background-color: #fff;
    border: 2px solid #ccc;
    padding: 4px;

    h3 {
      font-size: large;
      font-weight: bold;
      text-align: center;
      margin-bottom: 4px;
    }

    h4 {
      font-size: large;
      text-align: center;
      margin-bottom: 10px;
    }

    h5 {
      text-align: center;
      margin-bottom: 10px;
    }

    .box {
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}

.devise_links {
  margin-top: 20px;
  font-size: 10px;
}

#signin {
  .login {
    @include prepend(2);
    @include column(11);
    font-size: 16px;
  }
  .form {
    @include column(8, true);
    border-left: 1px solid #000;
    padding-left: 15px;
  }
}

.radios {

  text-align: center;

  #picture_explain {
    text-align: left;
    font-weight:bold;
    margin-top: 10px;
    textarea {
      width: 100%;
      height: 120px;
    }
  }
}

.tags_input {
  @include column(12);
}

#user_requested_role_input, #user_role_input {
  .choice {
    margin-left: 2em;
  }
}

button {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    margin: 0 0;
    padding: 3px 5px;
}

.phrase {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  padding: 5px;
  margin-right: 10px;
}

.searcher {
  margin-right: 40px;
  padding: 4px;
}