body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #444;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  font-size: 12px;
  background-color: #1e4680;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  margin: 20px 0 10px 0;
}

p {
  line-height: 2em;
}

strong {
  font-weight: bold;
}

#content {
  background-color    : #eee;
  padding: 40px;
  margin-top: 30px;
}

.header {
  @include column(24,true);
  height: 50px;
  background  : url(image-path('header.jpg')) no-repeat center;

  a {
    display: block;
    width: 100%;
    height: 50px;
  }
}

#navigation {

  color: #fff;
  font-size: 18px;
  line-height: 30px;
  background-color: #555;
  text-align: right;
  @include column(24);

  a {
    color: #fff;
    text-decoration: none;

  }

  .left {
    @include prepend(1);
    @include column(9);
    @include append(2);
  }

  .pipe {
    padding: 0 5px 0 8px;
  }

  .right {
    @include prepend(2);
    @include column(9, true);
    ul {
      float: right;
    }
  }
}

.caption {
  margin-top  : 5px;
  line-height : 12px;
  font-size   : 11px;
  font-weight : bold;
  font-style  : italic;
}

.clear {
  clear: both;
}

#report_found_input .ui-datepicker-trigger {
  float: left;
  vertical-align: middle;
  margin: 0 30px 0 30px;
}

.two_wide {
  @include column(10.5);
}
.two_wide_last {
  margin-left: 8px;
  @include column(10.5,true);
}

#search_tables {

  margin-top: 20px;

  table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
  }

  td {
    text-align: left;
    color: #404040;
    padding: 5px 10px;
    width: 80%;
  }

  td.label {
    font-weight: bold;
    width: 20%;
    text-align: right;
  }

  .search_table {

    padding: 4px;

    h3 {
      font-size: large;
      font-weight: bold;
      text-align: center;
      margin-bottom: 4px;
    }

    h4 {
      font-size: large;
      text-align: center;
      margin-bottom: 10px;
    }

    h5 {
      text-align: center;
      margin-bottom: 10px;
    }

    .box {
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}

.devise_links {
  margin-top: 20px;
  font-size: 10px;
}

#signin {
  .login {
    @include prepend(2);
    @include column(11);
    font-size: 14px;
  }
  .form {
    @include column(8, true);
    border-left: 1px solid #000;
    padding-left: 15px;
  }
}

.radios {

  text-align: center;

  #picture_explain {
    text-align: left;
    font-weight:bold;
    margin-top: 10px;
    textarea {
      width: 100%;
      height: 120px;
    }
  }
}

#tag_count {
  @include column(24);
  text-align: center;
}

.search_hint_list {
  margin-left: 5em;
}

.tags_input {
  padding: 5px;
  height: 8em;
  @include column(12);
}

#user_requested_role_input, #user_role_input {
  .choice {
    margin-left: 2em;
  }
}

button {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    margin: 0 0;
    padding: 3px 5px;
}

.phrase {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  margin-right: 10px;
}

.searcher {
  margin-right: 40px;
  padding: 4px;
}

ol.mission {
  padding-left: 4em;
  margin: 10px;
  line-height: 2.4em;
}


div#acoustic_telemetry {

  p {
    margin: 1.2em 0;
  }

  span.headtitle {
    font-style: italic;
    font-weight: bold;
  }

  ul {
    margin: 10px;
    padding-left: 2em;
    line-height:2em;
  }
}

div#have_data {

  p {
    margin: 1.2em 0;
  }
}

.highlight { background-color: yellow }

div#search_tag_table {
  h3 {
    font-weight: bold;
    font-size: 2em;
    margin: 10px 0 1em 5px;
    vertical-align: top;
  }

  h4,h5 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
  }

  div.searchbox {
    display:block;
    line-height: 1.43em;
    border: 1px solid #1e4680;
    margin-top: 10px;
    background-color: #fff;
    @include column(7);
    padding-bottom: 5px;

    ol {
      padding-left: 2em;
    }
  }

  div.last_searchbox {
    @include column(7,true);
  }
}

div#study_page {

  li {
    background-image: url(image-path('fish_bullet.png'));
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 20px;
    line-height: 22px;
  }

  div#listings {
    @include column(12);
    .lineitem {
      line-height: 1.4em;
      margin-bottom: 1.4em;
      span {
        font-weight: bold;
      }
      ol {
        padding-left: 4em;
      }
    }
  }

  div#images {
    @include column(10, true);
    text-align: right;

    img {
      margin-bottom: 30px;
    }

  }

}

div#show_report {

  table {
    @include column(18,true);
    background-color: #fafafa;
    border: 1px #000000 solid;
    border-collapse: collapse;
    border-spacing: 0px;
  }

  td {
    @include column(12,true);
    border-bottom: 1px #6699CC dotted;
    text-align: left;
    color: #404040;
    background-color: #fafafa;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 10px;
  }

  td.label {
    @include column(4);
    font-weight: bold;
  }

  p {
    margin: 1.2em 0;
  }
}

div#about_page {

  div#about_left {
    @include column(14);
  }

  div#about_right {
    @include column(8,true);
    margin-top: 30px;
    text-align: center;

    ul {
      padding: 0 0 40px 0;
    }
  }
}

.subtable {
  font-size: 10px;
  background-color: #fafafa;
  border: 1px #000000 solid;
  border-collapse: collapse;
  border-spacing: 0px;
  margin-top: 20px;

  tr {
    border-bottom: 1px #6699CC dotted;
  }

  td {
    text-align: left;
    color: #404040;
    background-color: #fafafa;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 10px;
  }

  td.label {
    text-align: right;
    @include column(3);
    font-weight: bold;
  }
}
