#loading-mask
  #loading
    %span{:id => 'loading-message'}
      Loading core API.  Please wait...
#loading-mask
  #loading
    %span{:id => 'loading-message'}
      Loading core API.  Please wait...
